---
title: Down to the lowest
permalink: /down-to-the-lowest//
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/all.min.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ "css/content1.css" | prepend: site.baseurl }}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-66PM0DPE6T"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-66PM0DPE6T');
        </script>

    </head>
    <body>
        <div class="logo">
            <img src="imgs/symbol.png" id="avatar">
        </div>
        <div class="content">
            <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hoonL6i6xMs" title="YouTube video player" frameborder ="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="music-title music">
                        Down to the lowest
                    </div>
                    <div class="music-title-ko music">
                        여호와 나의 하나님
                    </div>
                    <div class="music-description music">
                        LYRIC : DANIEL KIM / 작사 : 김태훈<br/>
                        COMPOSER : DANIEL KIM / 작곡 : 김태훈
                    </div>
                    <div class="lyrics-tag">
                        Lyrics
                    </div>
                    <div class="lyrics">
                        VERSE<br/>
                        Jehovah, You are my God<br/>
                        You are the only One I seek<br/>
                        Faithful is my Lord, ever so faithful<br/>
                        Strong and Almighty is the Lord<br/><br/>

                        CHORUS<br/>
                        My Lord is greater, higher, above all is He<br/>
                        All of creation bows down their hearts in worship<br/>
                        Down to the lowest, lowest,<br/>
                        He came down For me, this is my Lord<br/>
                        The King of kings forever, Jesus
                    </div>
                    <div class="lyrics-tag">
                        가사
                    </div>
                    <div class="lyrics">
                        VERSE<br/>
                        여호와 나의 하나님 주님을 바라봅니다<br/>
                        나의 주님은 신실하신 주님 강하고 전능하신 주<br/><br/>

                        CHORUS<br/>
                        내 주는 높고 높고 높으신 주님<br/>
                        모든 만물이 엎드려 경배하네<br/>
                        날 위해 낮고 낮고 낮은<br/>
                        이 땅 위에 오신 주<br/>
                        내 주는 만왕의 왕
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="score">
                        <img src="imgs/scores/08_down_to_the_lowest.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ "js/fa.js" | prepend: site.baseurl }}" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>