---
title: My God
permalink: /my-god
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/all.min.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ "css/content1.css" | prepend: site.baseurl }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-66PM0DPE6T"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-66PM0DPE6T');
        </script>
    </head>
    <body>
        <div class="logo">
            <img src="imgs/symbol.png" id="avatar">
        </div>
        <div class="content">
            <div class="youtube">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8CeTxNOgVsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="music-title music">
                        My God
                    </div>
                    <div class="music-description music">
                        LYRIC : HAEIN PARK / 작사 : 박해인<br/>
                        COMPOSER : HAEIN PARK / 작곡 : 박해인
                    </div>
                    <div class="lyrics-tag">
                        Lyrics
                    </div>
                    <div class="lyrics">
                        VERSE<br/>
                        You are the way You are my help<br/>
                        You are the shepherd of my life<br/>
                        Where I may go In all I do<br/>
                        Your guiding hand never leaves my side<br/>
                        <br/>
                        CHORUS<br/>
                        My God<br/>
                        God unfailing, God almighty<br/>
                        My God<br/>
                        You’re my fortress You are my shield<br/>
                        My God You’re faithful and steadfast till the end<br/>
                        <br/>
                        BRIDGE<br/>
                        You rescue from my enemies<br/>
                        You split and lead me through the seas<br/>
                        Fire by night, cloud by the day<br/>
                        You go before my way<br/>
                    </div>
                    <div class="lyrics-tag">
                        가사
                    </div>
                    <div class="lyrics">
                        VERSE<br/>
                        <br/>
                        주 나의 길 주 내 도움<br/>
                        나의 갈 길 인도하네<br/>
                        어딜 가던 무얼 하던<br/>
                        주 나와 함께 하시네<br/>
                        <br/>
                        CHORUS<br/>
                        <br/>
                        나의 주 강하신 주 전능의 주 나의 주<br/>
                        강한 성루 나의 방패 나의 주<br/>
                        신실한 약속의 하나님<br/>
                        <br/>
                        BRIDGE<br/>
                        <br/>
                        나를 구원하시는 주 바다를 가르시는 주<br/>
                        불과 구름으로 나를 인도하시는 주<br/>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="score">
                        <img src="imgs/scores/02_My-God.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ "js/fa.js" | prepend: site.baseurl }}" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>